.DS_Store
.idea/
.vscode/
*.swp

terraform.tfstate
terraform.tfstate.*
.terraform/
.terraform.lock.hcl

crash.log
*.tfplan
*.log

*.backup

*.auto.tfvars
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg

# Env files
.env
.env.*

# Django
db.sqlite3
media/
staticfiles/
*.pot
*.pyc
*.pyo

# Docker
*.db
docker-compose.override.yml

# Logs
logs/